<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi!
    <div><a href="/update">Update</a></div>
    <div><a href="/web/songs">Songs</a></div>
    <div><a href="/songs/random">Play random song</a></div>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp3">
        <button type="submit">Submit</button>
    </form>

</body>

</html>