<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songlist</title>

    <!-- jSpreadSheet -->
    <script src="https://bossanova.uk/jspreadsheet/v5/jspreadsheet.js"></script>
    <script src="https://jsuites.net/v5/jsuites.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v5/jspreadsheet.css" type="text/css" />
    <link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />

    <!-- Green Audio Player -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>

    <!-- Move search to the left -->
    <style>
        .jss_filter {
            margin-top: 10px;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        .jss_filter>div:first-child {
            order: 1;
            /* or 2, depending on your needs */
        }

        .jss_filter>div:last-child {
            order: 0;
            /* Move search bar to the left */
        }
    </style>
</head>

<body>
    <div><a href="/">Back</a></div>
    <h1>Song List</h1>
    <div>
        <input type="text" id="player_song_id" onkeypress="if (event.code == 'Enter') changeSong()" />
        <input type="button" onclick="changeSong()" value="Change Song" />
        <input type="button" onclick="changeToRandomSong()" value="Random Song" />

        <div class="gap-example" style="margin-top: 15px;">
            <audio>
            </audio>
        </div>
    </div>

    <div id="spreadsheet"></div>

    <script>
        window.songs = {{ songs | tojson }};

        // JSpreadsheet
        // https://bossanova.uk/jspreadsheet/docs/
        // https://github.com/jspreadsheet/ce/blob/master/docs/jspreadsheet/v4/quick-reference.md?plain=1

        // Player: https://github.com/greghub/green-audio-player/blob/master/examples/single-instance.html

        function sendRowAsSong(row) {
            let song = rowToSong(row);
            console.log("song", song);
            sendSongData(song).catch(err => {
                console.error("Error sending song data:", err);
            });
        }

        function rowToSong(row) {
            return {
                id: row[0],
                songname: row[2],
                artist: row[3],
                album: row[4],
                rating: row[5]
            };
        }

        async function sendSongData(song) {
            let res = await fetch(`/songdata/${song.id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(song)
            });
            if (!res.ok) {
                console.error("Failed to update song:", await res.text());
                return;
            }
            console.log("Song updated successfully:", song);
        }

        let onUpdate = function (instance, html, x, y, value, oldValue) {
            console.log("config", instance.getConfig());
            console.log(`(${instance}, ${html}) Cell updated at (${x}, ${y}) with value: ${value} (was ${oldValue})`);
            // console.log("cell", html);

            let row = instance.getRowData(y);
            console.log(row);
            sendRowAsSong(row);
        };

        let onHistory = function (instance, data) {
            if (!data) {
                return;
            }
            console.log("history", data);
            console.log(data.records[0])
            let row = instance.getRowData(data.records[0].row);
            console.log(row);
            sendRowAsSong(row);
        };

        let js = jspreadsheet(document.getElementById('spreadsheet'), {
            tabs: false,
            toolbar: false,
            onchange: onUpdate,
            onundo: onHistory,
            onredo: onHistory,
            worksheets: [{
                allowInsertColumn: false,
                allowInsertRow: false,
                allowDeleteColumn: false,
                allowDeleteRow: false,
                allowRenameColumn: false,
                allowComments: false,
                search: true,
                pagination: 100,
                data: window.songs.map(song => [
                    song.id,
                    song.filename,
                    song.songname,
                    song.artist,
                    song.album,
                    song.rating,
                    song.times_played
                ]),
                columns: [
                    { type: 'number', title: 'ID', width: 100, readOnly: true },
                    { type: 'text', title: 'Filename', width: 400, readOnly: true },
                    { type: 'text', title: 'Song Name', width: 400 },
                    { type: 'text', title: 'Artist', width: 250 },
                    { type: 'text', title: 'Album', width: 250 },
                    { type: 'number', title: 'Rating', width: 70 },
                    { type: 'number', title: 'Played', width: 100, readOnly: true }
                ]
            }],
        });


        // Initialize the audio player
        new GreenAudioPlayer('.gap-example');

        function changeSong() {
            let songId = document.getElementById("player_song_id").value;
            console.log("Changing song to ID:", songId);
            let audio = document.querySelector('.gap-example audio');
            audio.src = `/songs/${songId}`;
            audio.type = 'audio/mpeg';
            audio.play().catch(err => {
                console.error("Error playing audio:", err);
            });
        }

        async function changeToRandomSong() {
            let randomId = await fetch('/random_id')
                .then(response => response.text())
                .catch(err => {
                    console.error("Error fetching random song index:", err);
                });
            console.log("Changing to random song:", randomId);
            document.getElementById("player_song_id").value = randomId;
            changeSong();
        }

    </script>

</body>

</html>