<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songlist</title>

    <!-- jSpreadSheet -->
    <script src="https://bossanova.uk/jspreadsheet/v5/jspreadsheet.js"></script>
    <script src="https://jsuites.net/v5/jsuites.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v5/jspreadsheet.css" type="text/css" />
    <link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />

</head>

<body>
    <div><a href="/">Back</a></div>
    <h1>Song List</h1>
    <div id="spreadsheet"></div>

    <script>
        window.songs = [];
        {% for song in songs %}
        window.songs.push({
            id: {{ song.id }},
            filename: "{{ song.filename }}",
            songname: "{{ song.songname }}",
            artist: "{{ song.artist }}",
            album: "{{ song.album }}",
            rating: {{ song.rating }},
            times_played: {{ song.times_played }},
        });
        {% endfor %}

        // JSpreadsheet
        // https://bossanova.uk/jspreadsheet/docs/
        // https://github.com/jspreadsheet/ce/blob/master/docs/jspreadsheet/v4/quick-reference.md?plain=1

        function sendRowAsSong(row) {
            let song = rowToSong(row);
            console.log("song", song);
            sendSongData(song).catch(err => {
                console.error("Error sending song data:", err);
            });
        }

        function rowToSong(row) {
            return {
                id: row[0],
                songname: row[2],
                artist: row[3],
                album: row[4],
                rating: row[5]
            };
        }

        async function sendSongData(song) {
            let res = await fetch(`/songdata/${song.id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(song)
            });
            if (!res.ok) {
                console.error("Failed to update song:", await res.text());
                return;
            }
            console.log("Song updated successfully:", song);
        }

        let onUpdate = function (instance, html, x, y, value, oldValue) {
            console.log("config", instance.getConfig());
            console.log(`(${instance}, ${html}) Cell updated at (${x}, ${y}) with value: ${value} (was ${oldValue})`);
            // console.log("cell", html);

            let row = instance.getRowData(y);
            console.log(row);
            sendRowAsSong(row);
        };

        let onHistory = function (instance, data) {
            if (!data) {
                return;
            }
            console.log("history", data);
            console.log(data.records[0])
            let row = instance.getRowData(data.records[0].row);
            console.log(row);
            sendRowAsSong(row);
        };

        let js = jspreadsheet(document.getElementById('spreadsheet'), {
            tabs: false,
            toolbar: false,
            onchange: onUpdate,
            onundo: onHistory,
            onredo: onHistory,
            worksheets: [{
                allowInsertColumn: false,
                allowInsertRow: false,
                allowDeleteColumn: false,
                allowDeleteRow: false,
                allowRenameColumn: false,
                allowComments: false,
                search: true,
                pagination: 300,
                data: window.songs.map(song => [
                    song.id,
                    song.filename,
                    song.songname,
                    song.artist,
                    song.album,
                    song.rating,
                    song.times_played
                ]),
                columns: [
                    { type: 'number', title: 'ID', width: 100, readOnly: true },
                    { type: 'text', title: 'Filename', width: 400, readOnly: true },
                    { type: 'text', title: 'Song Name', width: 400 },
                    { type: 'text', title: 'Artist', width: 250 },
                    { type: 'text', title: 'Album', width: 250 },
                    { type: 'number', title: 'Rating', width: 70 },
                    { type: 'number', title: 'Played', width: 100, readOnly: true }
                ]
            }],
        });
    </script>

</body>

</html>